* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#home {
    background: url('meow.jpg') no-repeat center center fixed;
    width: 100vw;
    height: 100vh;
    background-size: cover; /* Zorgt ervoor dat het hoofd altijd het hele scherm vult */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#Locatiee {
    background: url('boemboem.png') no-repeat center center fixed;
    width: 100vw;
    height: 100vh;
    background-size: cover; /* Zorgt ervoor dat het hoofd altijd het hele scherm vult */
    top: 8vh;
    overflow: hidden;
    padding: 0;
}

#levensverhaale {
    background: url('village.png') no-repeat center center fixed;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    overflow: hidden;
    top: 8vh;
}

.kaart  {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.65);
    padding: 10px;
    margin: 2vh 2vw;
}

.kaarten {
    overflow: auto;
    color: white;
    display: flex;
    justify-content: center;
}

#midden {
    display: flex;
    justify-content: center;
}

.kankerding {
}

.maintext {
    width: 80vw;
    background-color: rgba(128, 128, 128, 0.6);
    position: relative;
    top: 8vh;
    margin: 4vh auto;
    border-radius: 10px;
    overflow: hidden;
    height: 75vh;
}
 
.maintext p, h1 {
    padding: 10px;
}

.wtf {
    font-size: 20px;
    overflow: auto;
    height: 100%;
    width: 100%;
}

.maintext p {
    font-size: 20px;
    overflow: auto;
}

.maintext h1 {
    text-align: center;
}

#neusknop {
    position: absolute;
    padding: 10px 20px;
    color: transparent;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transform: translate(-50%, -50%); /* Houdt de knop in het midden */
    height: 35vh;
    width: 25vw;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 8vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.knophead {
    color: white;
    display: inline-block;
    height: 100%;
    padding: 10px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#meow {
    height: 100%;
    display: flex;
    align-items: center;
}

#rechts {
    margin: auto 1vw;
}

#logo {
    margin-left: 1vw;
}

.linkheader {
    color: white;
    text-decoration: none;
}

.linkheader:hover {
    color: grey;
}

#current {
    color: #644141;
}

#current:hover {
    color: grey;
}

